body{
    background-color: white;
    max-width: 1600px;
}
.grid{
display: grid;
grid-template-columns: 600px 1fr;

}
.grid img{
    width: 100%;
}
.grid div{
    display: block;
    margin: auto;
}
.grid div h1{
    font-size: 45px;
    color:blue;
    font-weight: none;
    text-decoration: none;
    padding-bottom: 30px;
}
.grid div p{
    padding-bottom:50px;
}
.grid div form .input{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(124, 124, 124,.1);
    border: none;
}
.grid div form .submit{
    border-radius: 5px;
    font-size: 18px;
    width: 239.2px;
    height: 40.8px;
    border: none;
    background-color: rgb(59, 59, 172);
    color: white;
}